<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="mscorlib" publicKeyToken="c07d481e9758c731" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.6.21" newVersion="1.0.6.21" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Windows.Devices.I2c" publicKeyToken="c07d481e9758c731" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.2" newVersion="1.1.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Math" publicKeyToken="c07d481e9758c731" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.2.0" newVersion="1.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Windows.Devices.Spi" publicKeyToken="c07d481e9758c731" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.2.0" newVersion="1.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Windows.Devices.Gpio" publicKeyToken="c07d481e9758c731" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.2.0" newVersion="1.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>